/* Шрифты (на сайте: PT Sans Cormorant Garamond Roboto) */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=PT+Sans&family=Roboto:wght@300;400&display=swap');
h1, h2, h3, h4, h5 {
    font-family: "Cormorant Garamond";
}
.fnt_w_600 {
    font-weight: 600;
}
.fnt_w_500 {
    font-weight: 500;
}
.fnt_w_400 {
    font-weight: 400;
}
.fnt_w_300 {
    font-weight: 300;
}
.color_h_1 {
    color: #DBD8D1;
}
.color_h_2 {
    color: #131217;
}   

.color_w {
    color: white;

}
p, a, span {
    font-family: Roboto;
}

h1 { /* (50.91px/1920)*100vw */
    font-size: max(2.6515vw, 32px) !important;
    letter-spacing: max(0.4166vw, 1.5px);
    
}
h2 { /* 42px в базе */
    font-size: max(2.1875vw, 24px) !important;
}
h3 { /* 38px в базе */
    font-size: max(1.97916vw, 28px) !important;
    letter-spacing: 0.1042vw;
}
h4 { /* 32px в базе mob (420) */
    font-size: 7.619vw !important;
}
h5 { /* 28px в базе mob */
    font-size: 6.66667vw !important;
}
/* Ссылки */
header a {
  padding: 0.78125vw 0 0.78125vw 0;
  display:inline-block;
  color: #CCCBC6;
  font-size: max(0.78125vw, 10px);
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}
header a:last-of-type:hover {
  color: #8F6B2D;
}
.menu_line > a:hover, .menu_line_2 > a:hover {
  padding: 0.78125vw 0 0.78125vw 0;
  color: #8F6B2D;
  border-bottom: 1px solid#8F6B2D;
}
header.sticky {
  background: #fff;
  color: #131217;
  margin: 0 auto;
  height: 4.53177vw;
  
}
.main-menu > a:hover {
  color: #8F6B2D;
  text-decoration: underline;

}
.menu_line > a:hover, .menu_line_2 > a:hover  {
 
  padding-bottom: 0.78125vw;
  color: #8F6B2D;
  border-bottom: 1px solid#8F6B2D;
}

header.sticky a {
  color: #131217;
}
.flx_bss {
  flex-shrink: 2;
}
header.sticky .svg_switch1 {
  display: none;
}
.svg_switch2 {
  display: none;
}
header.sticky .svg_switch2 {
  display: block;
}
.color_a_2 {  
    color: #757470;
}
.spn_cntr {
    
    font-size: max(0.78125vw, 12px);
    letter-spacing: max(0.2083vw, 4px);

}
.spn_cntr + h1 {
  margin-top: max(1.9792vw, 36px);
}
header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: 0.3s;
  margin: 4.322vw auto 0 auto;
  flex-direction: column;
}

header + div {
  position: relative;
}
a {
display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
}
* {
    box-sizing: border-box;
}

.body {
    height: 2000px;
}

/*  Базовые классы */
.flex_dir_col {
    flex-direction: column;
}
figcaption {
    margin-top: 1.8963vw !important; 
    font-family: "PT Sans";
    font-size: max(.625vw, 10px);
    color: #131217;
    letter-spacing: 0.104vw; 
}
figcaption  span {
    color: #BF9C62;
}
.block1 {
    background:  linear-gradient(rgba(0,0,0,1), 27%, rgba(0,0,0,0)), linear-gradient(rgba(0,0,0,0.45), 100%, rgba(0,0,0,0)),
     url(img/bckgrnd.jpg);
    background-size: cover;
    height: 45vw;
    margin: 0 auto;
    min-height: 733px;
}

.block1 div:first-child {
  position: sticky;
  top: 0;

}
.block2 {
    height: max(64.739vw, 450px);
    background: white;
    padding: 6.45vw 0 5.345vw 0;
}
.block3 {
  background: #F0ECE3;
  height: 38.854vw;
}

.algn_cen {
    align-items: center;
}
.menu_line{
  width: max(45.208vw, 400px);
  display: none;
}
.menu_line_2 {
  display: none;
  text-align: center;
  width: 100%;
}
.pos_rel {
    position: relative;
}
.pos_abs {
    position: absolute;
}
.flex {
    display: flex;
}
.hr_1 {
  margin-left: auto;
  margin-right: auto;
  width: max(5.156vw, 99px);
  border-bottom: 1px solid #CCBB9E;
}
.hr_2 {
    width: max(6.614vw, 127px);
    border-bottom: 3px solid rgba(215, 174, 122, 0.58);
}
.w_1 {
    width: 88.489vw;
    margin: 0 auto;
}
.w_1 a {
  line-height: 1px;
}
.h_1 {
    height: 100%;
}
.z_ind_1 {
    z-index: 1;
}
.z_ind_2 {
    z-index: 2;
}
.z_ind_3 {
    z-index: 3;
}
.m_auto {
    margin: auto;
}
.d_blc {
 display: block;
}
.dim {
    width: 100%;
    height: 100%;
}
.jst_con {
  justify-content: center;
}
.jst_con_cen {
    justify-content: center;
}
.jst_con_spb {
    justify-content: space-between;
}
.jst_con_spe {
    justify-content: space-evenly;
}
.flt_lft {
    float: left;
}
.flt_rght {
    float: right;  
}
.mob {
    display: none;
}
.txt_algn {
    text-align: center;
}

.crs_size {
    height: 40.507vw;
    width: 68.3562vw;
}
/* Классы для мобильных устройств*/
/* Меню */

#menu-checkbox {
    display: none;
  }
#menu-checkbox:checked + .main-menu {
    display: block;
    
  }
  #menu-checkbox:checked + body
   {overflow: hidden;}
.main-menu {
  width: 100%;
  height: 864px;
  background-color: #E5E5E5;
  display: none;
  top: 0;
  overflow-y: auto;
  position: fixed;
  z-index: 33; 
}
.main-menu > div {
  border-bottom: 1px solid rgba(20, 18, 21, 0.2);
  width: 361px;
  margin-top: 21px;
}



.main-menu a {
  
  width: auto;
  color: #757470;
  
}
.main-menu > a:nth-of-type(1) {
  margin-top: 142px;
}
.main-menu > a {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.78125vw;
}
/* Стили страницы проекта */
.block4 {
  background: #F7F5F1;
  height: 100%;
}
.block4 > h1 {
  background: transparent;
}

/* Карусель */
.carousel {
    position: relative;
  }
  
  .carousel.pointer-event {
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  /* rtl:begin:ignore */
  .carousel-item-next:not(.carousel-item-start),
  .active.carousel-item-end {
    transform: translateX(100%);
  }
  
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start {
    transform: translateX(-100%);
  }
  
  /* rtl:end:ignore */
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-start,
  .carousel-fade .carousel-item-prev.carousel-item-end {
    z-index: 1;
    opacity: 1;
  }
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
      transition: none;
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
  .carousel-control-next {
      transition: none;
    }
  }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }
  

  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
  }
  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators [data-bs-target] {
      transition: none;
    }
  }
  .carousel-indicators .active {
    opacity: 1;
  }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
  }
  
  .carousel-dark .carousel-control-prev-icon,
  .carousel-dark .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
  }
  .carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000;
  }
  .carousel-dark .carousel-caption {
    color: #000;
  }



.upper_line {
    border: 1px solid #ffffffc7;
    width: 361px;
}




@media screen and (max-width: 420px) {
.mob {
display: inline-block;
}
figcaption > p {
  order: 2;
}

header.sticky {
min-height: 30px;
}
header > div {
border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
header.sticky .w_1 {
  border-bottom: 1px solid transparent;
}
.svg_switch1 {
  display: none;
}
.svg_switch2 {
  display: none;
}
header.sticky .svg_switch2 {
  display: none;
}
header.sticky .svg_switch3 {
  display: none;
}

.svg_switch4 {
  display: none;
}
header.sticky .svg_switch4 {
  display: block;
  border-bottom: 0px solid rgba(255, 255, 255, 0.15);
}
.jst_con {
  justify-content: space-between; 
}
}
@media screen and (min-width: 421px) {
  .block1 > label {
      display: none;
  }
  .dim {
  width: 100%;
  height: 100%;
  }
  .menu_line_2 {
    display: flex;
  } 
  header.sticky {
    min-height: 65px;
  } 
  .svg_switch4 {
  display: none;}
  .svg_switch3 {
  display: none;}

}
@media screen and (min-width: 701px) {
  .menu_line_2 {
    display: none;
    }
    .menu_line {
      display: flex;
    } 
    header.sticky {
      min-height: unset;
      height: unset;
    }
    .jst_con {
      justify-content: space-between;
    }
  }
  @media screen and (max-width: 860px) {
    header a:nth-of-type(3) {
      display: none;
    }
  }
  @media screen and (max-width: 960px) {
    .menu_line + a {
    display: none;
    }
  
  .w_1 {
    
    width: 75vw;
  }
  }
  